<div class="input__component__background">
  <div class="input__component__title" >
    <label class="input--title--text" for="image">
      ajouter une photo
    </label>
  </div>
  <div class="input__text__container select--image">
    <!--Select image-->
    <input #inputFile type="file" accept="image/*" (change)="loadSelectedImage(inputFile?.files?.[0])" name="image" id="image" style="display:none;">

     <!-- Preview image-->
     <div class="product__main__img" *ngIf="isImageSelected; else defaultImage">
      <img class="product--image" [src]="previewSelectedImageBase64" alt="productImage.fileName">
    </div>

    <!--Image par default si pas de sélection-->
    <ng-template #defaultImage>
      <div class="product__main__img">
        <svg class="product--image" width="181" height="136" viewBox="0 0 181 136" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M0 0H181V136H0V0Z" fill="#777777"/>
          <rect x="59" y="14" width="30" height="30" rx="15" fill="#F4F4F4"/>
          <path d="M46.9296 56.814L67.0763 85.0558L107.808 29L170 121H84.8592H9L46.9296 56.814Z" fill="#F4F4F4"/>
        </svg>
      </div>
    </ng-template>
    <app-round-button [isPrimary]="true" iconeName="add" (click)="inputFile.click()"></app-round-button>
  </div>
</div>
