<div class="input__component__background">
  <div class="input__container">
    <div class="input__component__title" >
      <label class="input--title--text input--double" [for]=componentNameOne>
        {{labelTextOne}}
      </label>
    </div>
    <div class="input__text__container">
      <input class="input--text"  [type]=inputTypeOne [name]=componentNameOne [id]=componentNameOne>
    </div>
  </div>
  <div class="input__container">
    <div class="input__component__title" >
      <label class="input--title--text input--double" [for]=componentNameOne>
        {{labelTextTwo}}
      </label>
    </div>
    <div class="input__text__container">
      <input class="input--text"  [type]=inputTypeTwo [name]=componentNameTwo [id]=componentNameTwo>
    </div>
  </div>
</div>
