.main__header__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: var(--desktop);
  padding: 10px;
  height: var(--nav_height);
  background-color: var(--first_color);
  color: var(--third_color);
  font-weight: var(--font_heavy);
}

.header__container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  width: 100%;

}

.button__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button__container button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border: 1px solid var(--second_color);
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  font-weight: var(--font_heavy);
  font-size: var(--big_size_mobile);

}

.header__text__container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header__title {
  font-size: var(--big_size_mobile);
}

.header__primary__info {
  font-size: var(--meduim_size_mobile) !important;
}

.header__secondary__info {
  font-size: var(--normal_size_mobile);
}
