<div class="main__header__container">
  <div class="header__container">
    <div *ngIf="isLeftButtonVisible" class="button__container">
      <button type="button" value="<"><</button>
    </div>
    <div class="header__text__container">
      <div class="header__title">
        <p>LaLaMiam</p>
      </div>
      <div *ngIf="primaryInformation!==''" class="header__primary__info">
        <p>{{primaryInformation}}</p>
      </div>
      <div *ngIf="secondaryInformation!==''" class="header__secondary_info">
        <p>{{secondaryInformation}}</p>
      </div>
    </div>
    <div *ngIf="isRightButtonVisible" class="button__container">
      <button type="button">></button>
    </div>
  </div>
</div>
