<app-rectangle-button buttonText="bonjour" [isPrimary]=false></app-rectangle-button>
<app-rectangle-button buttonText="bonjour" [isPrimary]=true></app-rectangle-button>
<app-round-button [isPrimary]=true iconeName="search"></app-round-button>
<app-round-button [isPrimary]=false iconeName="add"></app-round-button>
<app-round-button [isPrimary]=false iconeName="minus"></app-round-button>
<app-round-button [isPrimary]=false iconeName="trash"></app-round-button>
<app-round-button [isPrimary]=true iconeName="check"></app-round-button>
<router-outlet></router-outlet>
